{% include 'header.html' %}

{% for administrador in administrador %}

<form method="post" action="/updatea" enctype="multipart/form-data">

    <div class="card">
        <div class="card-header">
            EDITAR SOLDADO
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos del soldado:
            <p class="card-text">


                <div class="form-group">
                    <label for="txt1a">NOMBRE:</label>
                    <input id="txt1a" value="{{administrador[1] }}" class="form-control" type="text" name="txt1a">
                </div>

                <div class="form-group">
                    <label for="txt2a">APELLIDO:</label>
                    <input id="txt2a" value="{{administrador[2] }}" class="form-control" type="text" name="txt2a">
                </div>

                <div class="form-group">
                    <label for="txt3a">Grado:</label>
                    <input id="txt3a" value="{{administrador[3] }}" class="form-control" type="text" name="txt3a">
                </div>

                <div class="form-group">
                    <label for="txt4a">Compania:</label>
                    <input id="txt4a" value="{{administrador[4] }}" class="form-control" type="text" name="txt4a">
                </div>

            
                <input type="hidden" value="{{administrador[0] }}" name="txt0a" id="txt0a">
                <br>
                
                <br>
                <br>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="GUARDAR">
                    <a href="{{url_for('indexa')}}" class="btn btn-black">REGRESAR</a>
                </div>
            
            </p>
        </div>
    </div>

   
    
</form>
    
{% endfor %}
{% include 'footer.html' %}