

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.1/css/bulma.min.css">

</head>

<body>
    <section class="section">
        <div class="columns">
            <div class="column is-one-third is-offset-one-third">
                <h1 class="is-size-1">Bienvenido</h1>
                <form action="/log" method="post">
                    <label for="txto1">Usuario</label>
                    <div class="control">
                        <input autofocus required type="disabledTextInput" class="input" placeholder="Ingrese Usuario" id="txto1"
                            name="txto1">
                    </div>
                    <div class="control">
                        <label for="txto2">Contraseña</label>
                        <input required type="password" class="input" placeholder="Ingrese Contraseña" id="txto2"
                            name="txto2">
                    </div>

                  
                    <div class="form-group">
                      <input  type="submit" class="button is-success mt-2"" value="INGRESAR"> 
                      <a href="{{url_for('index')}}" class="button is-black mt-2"">REGRESAR</a>
                      
                  </div>
                
                    {# Mostrar mensajes / errores si es que existen #}
                    {% with mensajes_flash = get_flashed_messages() %}
                    {% if mensajes_flash %}
                    <div class="notification is-danger mt-2">
                        {% for mensaje in mensajes_flash %}
                        <li>{{ mensaje }}</li>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>
                </form>
            </div>
        </div>
    </section>

</body>

</html>


            
            
          
 
              
  


              
              