{% include 'coma.html' %}

{% with messages= get_flashed_messages()%}

    {% if messages %}

        <div class="alert alert-danger" rote="alert">
        {% for message in messages %}
            {{ message}}
        {% endfor %}

        </div>

    {% endif %}
{% endwith %}

<BR></BR>
<form method="post" action="/store" enctype="multipart/form-data">

    <div class="card">
            <div class="card-header">
                DATOS DEL SOLDADO
            </div>
        <div class="card-body">
            <h5 class="card-title">INGRESE LOS DATOS</h5>
            <p class="card-text">

                <div class="form-group">
                    <label for="txt1">NOMBRE:</label>
                    <input id="txt1" class="form-control" type="text" name="txt1">
                </div>

                <div class="form-group">
                    <label for="txt2">APELLIDO PATERNO:</label>
                    <input id="txt2" class="form-control" type="text" name="txt2">
                </div>

                <div class="form-group">
                    <label for="txt3">APELLIDO MATERNO:</label>
                    <input id="txt3" class="form-control" type="text" name="txt3">
                </div>

                <div class="form-group">
                    <label for="txt4">PESO:</label>
                    <input id="txt4" class="form-control" type="float" name="txt4">
                </div>

                <div class="form-group">
                    <label for="txt5">ESTATURA:</label>
                    <input id="txt5" class="form-control" type="float" name="txt5">
                </div>

                <div class="form-group">
                    <label for="txt6">EDAD:</label>
                    <input id="txt6" class="form-control" type="int" name="txt6">
                </div>

                <div class="form-group">
                    <label for="txt7">N° CARNET:</label>
                    <input id="txt7" class="form-control" type="int" name="txt7">
                </div>

                <div class="form-group">
                    <label for="txt8">GRADO:</label>
                    <input id="txt8" class="form-control" type="text" name="txt8">
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="GUARDAR">
                    <a href="{{url_for('indexaa')}}" class="btn btn-black">REGRESAR</a>
                </div>
                

            </p>
        </div>
    </div>

   
    
</form>
{% include 'comac.html' %}
