{% include 'comc.html' %}

{% for compania_c in compania_c %}

<form method="post" action="/updatec" enctype="multipart/form-data">

    <div class="card">
        <div class="card-header">
            EDITAR SOLDADO
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos del soldado:
            <p class="card-text">


                <div class="form-group">
                    <label for="txt1c">NOMBRE:</label>
                    <input id="txt1c" value="{{compania_c[1] }}" class="form-control" type="text" name="txt1c">
                </div>

                <div class="form-group">
                    <label for="txt2c">APELLIDO PATERNO:</label>
                    <input id="txt2c" value="{{compania_c[2] }}" class="form-control" type="text" name="txt2c">
                </div>

                <div class="form-group">
                    <label for="txt3c">APELLIDO MATERNO:</label>
                    <input id="txt3c" value="{{compania_c[3] }}" class="form-control" type="text" name="txt3c">
                </div>

                <div class="form-group">
                    <label for="txt4c">PESO:</label>
                    <input id="txt4c" value="{{compania_c[4] }}" class="form-control" type="text" name="txt4c">
                </div>

                <div class="form-group">
                    <label for="txt5c">ESTATURA:</label>
                    <input id="txt5c" value="{{compania_c[5] }}" class="form-control" type="text" name="txt5c">
                </div>

                <div class="form-group">
                    <label for="txt6c">EDAD:</label>
                    <input id="txt6c" value="{{compania_c[6] }}" class="form-control" type="text" name="txt6c">
                </div>

                <div class="form-group">
                    <label for="txt7c">N° CARNET:</label>
                    <input id="txt7c" value="{{compania_c[7] }}" class="form-control" type="text" name="txt7c">
                </div>

                <div class="form-group">
                    <label for="txt8c">GRADO:</label>
                    <input id="txt8c" value="{{compania_c[8] }}" class="form-control" type="text" name="txt8c">
                </div>

                
                <input type="hidden" value="{{compania_c[0] }}" name="txt0c" id="txt0c">
                <br>
                
                <br>
                <br>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="GUARDAR">
                    <a href="{{url_for('indexc')}}" class="btn btn-black">REGRESAR</a>
                </div>
            
            </p>
        </div>
    </div>

   
    
</form>
    
{% endfor %}
{% include 'comcc.html' %}